
body {
    background-image: url('./multimedia/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #1a1a1a;
    color: #d4c0a1;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #c59a6d;
    text-shadow: 2px 2px #000;
}

a {
    color: #3a9ad9;
    text-decoration: none;
}

a:hover {
    color: #e0ca92;
}

nav {
    background-color: rgba(139, 69, 19, 0.7); 
    border-top: 3px solid #d4c0a1;
}

nav h2 {
    color: #d4c0a1;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    padding: 5px;
}

section {
    background-color: rgba(58, 54, 51, 0.9);
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(212, 192, 161, 0.75), rgba(0, 0, 0, 0));
}


.column h3 {
    color: #333; 
}

.columns-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
}


.dropbtn {
    background-color: rgba(139, 69, 19, 0.7);
    color: #d4c0a1;
    padding: 25px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 1000px;
}

.menu {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px; 
}

.dropdown {
    position: relative;
    display: inline-block; 
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(139, 69, 19, 0.7);
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 50%; 
    transform: translateX(-50%); 
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #d4c0a1;}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* Contenedor principal para simular resolución de 1920x1080 */
.contenedor {
    width: 1920px;
    height: 1080px;
    margin: auto;
    position: relative;
    overflow: hidden; /* Evita el desbordamiento del contenido fuera del contenedor */
}

/* Ajustes para diferentes resoluciones de pantalla usando media queries */
@media screen and (min-width: 1920px) {
    .contenedor {
        /* Ajusta la escala si es necesario para pantallas más grandes */
        transform: scale(1);
    }
}