body {
    background-image: url("./multimedia/back3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}


* {
    box-sizing: border-box; 
}


h1, h2 {
    color: #d4c06a;
    text-align: center;
    text-shadow: 2px 2px 4px #000; 
}

h2 {
    border-bottom: 2px solid #d4c06a;
    padding-bottom: 5px;
    margin-top: 20px; 
}

label {
    font-weight: bold;
    color: #c7a600;
    display: block; 
    margin: 10px 0 5px; 
}

p {
    color: #d4c06a;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
}


input[type="text"], input[type="email"], select {
    width: 10%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px; 
    border: 1px solid #d4c06a;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

textarea {
    width: 100%;
    border-radius: 5px;
    border-color: #d4c06a;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 20px;
    padding: 10px; 
}

input[type="submit"] {
    background-color: #d4c06a;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s; 
    border-radius: 5px; 
}

input[type="submit"]:hover {
    background-color: #b8a754;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border-radius: 5px; 
}

th {
    background-color: rgba(204, 119, 34, 0.7);
}

thead th {
    background-color: rgba(0, 0, 128, 0.3);
}

.alianza, .alianza th, .alianza td {
    background-color: rgba(0, 76, 153, 0.5); 
    color: white; 
}

table, th, td {
    background-color: rgba(210, 180, 140, 0.5);
    color: white; 
}


.horda, .horda th, .horda td {
    background-color: rgba(139, 0, 0, 0.5); 
    color: white; 
}


.contenido-personaje, .opiniones-personaje {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start; 
}

.imagen-personaje {
    flex: 1 1 50%; 
    margin-left: 20px;
    height: auto;
    max-width: 100%; 
}

.opiniones-personaje {
    flex: 1 1 45%; 
}



.contenedor {
    width: 1920px;
    height: 1080px;
    margin: auto;
    position: relative;
    overflow: hidden; 
}


@media screen and (min-width: 1920px) {
    .contenedor {

        transform: scale(1);
    }
}