body {
    background-image: url("./multimedia/back3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Tipografía más moderna */
}

/* Estilos generales para mejor visibilidad y estética */
* {
    box-sizing: border-box;
    /* Mejora la forma en que se calcula el ancho de los elementos */
}

/* Estilos específicos para el título principal y subtítulos */
h1,
h2 {
    color: #d4c06a;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
    /* Sombra para mejorar la legibilidad */
}

h2 {
    border-bottom: 2px solid #d4c06a;
    padding-bottom: 5px;
    margin-top: 20px;
    /* Espaciado superior para separar secciones */
}

/* Estilo para las etiquetas de los formularios y áreas de texto */
label {
    font-weight: bold;
    color: #c7a600;
    display: block;
    /* Asegura que cada etiqueta se muestre en su propia línea */
    margin: 10px 0 5px;
    /* Mejor espaciado */
}

p {
    color: #d4c06a;
    text-align: center;
    text-shadow: 2px 2px 4px #000;
}


input[type="text"],
input[type="email"],
select {
    width: 10%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    /* Bordes redondeados */
    border: 1px solid #d4c06a;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

textarea {
    width: 100%;
    border-radius: 5px;
    border-color: #d4c06a;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin-bottom: 20px;
    padding: 10px;
    /* Espaciado interno para el texto */
}

/* Botón de envío con estilo ajustado al diseño */
input[type="submit"] {
    background-color: #d4c06a;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    /* Transición suave al cambiar el color */
    border-radius: 5px;
    /* Bordes redondeados */
}

input[type="submit"]:hover {
    background-color: #b8a754;
}

/* Estilos para tablas, encabezados, y clases específicas */
table,
th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    border-radius: 5px;
    /* Bordes redondeados para la tabla y celdas */
}

th {
    background-color: rgba(204, 119, 34, 0.7);
}

thead th {
    background-color: rgba(0, 0, 128, 0.3);
}

/* Estilos específicos de color para las tablas de la Alianza */
.alianza,
.alianza th,
.alianza td {
    background-color: rgba(0, 76, 153, 0.5);
    /* Azul Alianza */
    color: white;
    /* Texto en blanco para contraste */
}

/* Estilos específicos de color para las tablas Neutras */
/* Ajustamos a marrón amarillo claro para representar la neutralidad */
table,
th,
td {
    background-color: rgba(210, 180, 140, 0.5);
    /* Marrón amarillo claro */
    color: white;
    /* Texto en blanco para contraste */
}

/* Estilos específicos de color para las tablas de la Horda */
.horda,
.horda th,
.horda td {
    background-color: rgba(139, 0, 0, 0.5);
    /* Rojo sangriento Horda */
    color: white;
    /* Texto en blanco para contraste */
}

/* Nuevos estilos para alinear la imagen y el texto de manera más atractiva */
.contenido-personaje,
.opiniones-personaje {
    display: flex;
    /* Utiliza flexbox para un diseño más flexible */
    flex-wrap: wrap;
    /* Permite que los elementos se ajusten según el ancho */
    justify-content: space-between;
    /* Espacia los elementos uniformemente */
    align-items: flex-start;
    /* Alinea elementos al inicio de su contenedor */
}

.imagen-personaje {
    flex: 1 1 50%;
    /* Ocupa hasta el 50% del contenedor */
    margin-left: 20px;
    height: auto;
    max-width: 100%;
    /* Asegura que la imagen no sobrepase el ancho del contenedor */
}

.opiniones-personaje {
    flex: 1 1 45%;
    /* Ocupa hasta el 45% del contenedor, dejando espacio para la imagen */
}


/* Contenedor principal para simular resolución de 1920x1080 */
.contenedor {
    width: 1920px;
    height: 1080px;
    margin: auto;
    position: relative;
    overflow: hidden;
    /* Evita el desbordamiento del contenido fuera del contenedor */
}

/* Ajustes para diferentes resoluciones de pantalla usando media queries */
@media screen and (min-width: 1920px) {
    .contenedor {
        /* Ajusta la escala si es necesario para pantallas más grandes */
        transform: scale(1);
    }
}

/* Estilos adicionales para el menú vertical */
.nav {
    background-color: rgba(0, 0, 0, 0.7);
    /* Fondo semi-transparente para el menú */
    padding: 10px 0;
    /* Espaciado interno en la parte superior e inferior del menú */
}

.menu {
    text-align: center;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    display: block;
    margin-bottom: 10px;
    /* Espaciado entre elementos del menú vertical */
}

.menu a {
    color: #d4c06a;
    /* Color verde agua claro para los enlaces en el menú */
    text-decoration: none;
    font-size: 18px;
}

.menu a:hover {
    text-decoration: underline;
}